<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update page</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="login">Enter name: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <br/>
    <label for="login">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>
    <label for="mail">Enter email: </label>
    <input type="email" th:field="*{mail}" id="mail"/>
    <div style="color:red" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></div>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>