<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Email</th>
        <th>Age</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="User : ${users}">
        <td>
            <a th:href="@{/user/{id}(id=${User.getId()})}" th:text="${User.getId()}">user</a>
        </td>

        <td th:text="${User.login}"></td>
        <td th:text="${User.mail}"></td>
        <td th:text="${User.age}"></td>
        <td th:text="${User.getRole()}"></td>
    </tr>
    </tbody>
</table>
<br/>
<hr/>
<a href="/new"> Create new user</a>
</body>
</html>