<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Id: <a th:text="${user.getId()}">user</a></div>
<div>Name: <a th:text="${user.getName()}">user</a></div>
<div>Email: <a th:text="${user.getMail()}">user</a></div>
<div>Age: <a th:text="${user.getAge()}">user</a></div>
<div><a th:href="@{/users/edit/{id}?id={id}(id=${user.getId()})}">Edit</a></div>
<br/>
<form th:method="POST" th:action="@{/users/delete/{id}?id={id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>